#cardImg {
  cursor: pointer;
}
.Card {
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 150px;
  border-radius: 5px;
  cursor: pointer;
}
.Card:hover {
  background-color: rgb(73, 73, 73);
}

.profile {
  text-align: end;
  justify-content: flex-end;
  padding-top: 20px;
  float: right;
}

.profile h6 {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 25px;
  width: min-content;
  border-radius: 50px;
}
.items {
  font-size: 13px !important;
  padding-bottom: 5px;
}

#contentHome {
  padding-bottom: 120px;
}
.containerHome {
  margin-bottom: 20px;
}
#footer {
  z-index: 10;
  position: fixed;
  padding-top: 25px;
  padding-bottom: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #181818;
  border-top: 1px solid rgb(63, 63, 63);
}
